<h2>List of Passwords</h2>

<ul>
  <li *ngFor="let password of passwords">
    <strong>Category:</strong> {{ password.category }}<br>
    <strong>Application:</strong> {{ password.app }}<br>
    <strong>Username:</strong> {{ password.userName }}<br>
    <strong>Password:</strong> {{ password.decryptedPassword }}  <!-- encrypted password -->
    <a [routerLink]="'/passwords/' + password.id + '/edit'">
      <button class="btn btn-info"> Edit Password </button>
    </a>
    <a [routerLink]="['/passwords/',password.id]"> <button class="btn btn-info"> View Password </button></a>
    <hr>
  </li>
</ul>