<form #passwordForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <label>Category<span>*</span>:</label>
    <input type="text" [(ngModel)]="category" name="category" required>
  </div>
  <div>
    <label>Application<span>*</span>:</label>
    <input type="text" [(ngModel)]="app" name="app" required>
  </div>
  <div>
    <label>Username<span>*</span>:</label>
    <input type="text" [(ngModel)]="userName" name="userName" required>
  </div>
  <div class="password-input">
    <label>Password<span>*</span>:</label>
    <input type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="password" name="password" required>
    <i class="material-icons" (click)="togglePasswordVisibility()">{{ showPassword ? 'visibility_off' : 'visibility' }}</i>
  </div>
  <button type="submit" [disabled]="passwordForm.invalid">Add Password</button>
</form>
