.delete-password-container {
    text-align: center; /* Center align all content */
    margin-top: 20px; /* Add some top margin for spacing */
  }
  
  .button-container {
    margin-top: 20px; /* Add some top margin for spacing */
  }
  
  .delete-button {
    background-color: #dc3545; /* Red color for delete button */
    color: #fff; /* White text color */
    padding: 8px 16px; /* Padding for button */
    border: none; /* Remove button border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
  }
  
  .delete-button:hover {
    background-color: #c82333; /* Darker red color on hover */
  }
  